.counter_row {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 8px;
  margin: 70px 0 0 0;
  border-top: 1px dotted var(--second_color);
  padding: 20px 0px;
  border-bottom: 1px dotted var(--second_color);
}

.counter_col {width: 100%;cursor: pointer;flex: 1 1 calc(33.3% - 10px);}

.stastic {
  position: relative;
  overflow: hidden;
}

.stastic i {
  font-size: 350%;
  color: #fff;
  background:linear-gradient(275.06deg,#009688 13.4%,rgb(255 152 0/23%) 41.99%),linear-gradient(298.31deg,#009688 60.3%,#ff9800 109.76%);
  height: 85px;
  width: 85px;
  line-height: 85px;
  border-radius: 100%;
}

.counter {
  font-size: 218%;
  font-family: 'Josefin Sans';
  font-weight: 800;
  opacity: .8;
}

.counter_wrapper {width: 100%;}

.counter_left span{
  opacity: 0.7;
  letter-spacing: .5px;
  text-transform: capitalize;
  font-size: 102%;
  line-height: 151%;
}

.count_icon svg{
  width: auto;
  height: 24px;
  fill: #fff;
}

@media screen and (max-width: 576px) {
  .count_icon{
    right: 3%;
  }

  
}
.counter_left {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.counter_col:nth-child(2){border-left: 1px dotted var(--second_color);padding-left: 15px;border-right: 1px dotted var(--second_color);margin: 0 15px;}
.count_icon {
    background: #0d1e33;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.counter_content span {
    margin-top: 13px;
    font-family: 'Cormorant Garamond';
    display: block;
    font-weight: 700;
    font-size: 100%;
    line-height: 115%;
    letter-spacing: .5px;
}
.counter_contenwrap {
    width: calc(100% - 50px);
}